body {
  font-family: 'Source Code Pro Variable', monospace;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #000000;
}

.prompt {
  font-weight: bold;
}

.prompt {
  color: #0dbf0d;
  font-weight: bold;
}

.end-prompt {
  margin-right: 8px;
}

.ssanjua-prompt {
  color: #007bb9;
  font-weight: bold;
}

form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(222, 222, 0);
  font-weight: 600;
}

input {
  font-family: 'Source Code Pro Variable', monospace;
  border: none;
  background: none;
  color: #ffffff;
  width: 100%;
  outline: none;
  font-size: 1em;
  caret-color: #0dbf0d;
}

.description {
  font-size: 14px;
}

.response {
  color: #ffffff;
  margin-left: 2em;
}

.terminal {
  color: #ffffff;
  padding: 2em;
}

.wrapper {
  margin: 0.5em 0 0.5em 0;
}

.education h3 {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.education p {
  margin-bottom: 1.5em;
  font-size: 0.95em;
  color: rgb(164, 164, 164);
  font-weight: 600;
  margin: 0.2em 0 0.2em 0;
}

.projects h3 {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.projects p {
  font-size: 0.95em;
  color: rgb(164, 164, 164);
  font-weight: 600;
  margin: 0.2em 0 0.2em 0;
}

.command {
  color:#e04421;
  font-weight: bold;
}

.help-keys {
  margin: 1em 0 1em 0;
}

.help-keys-main {
  color: rgb(222, 222, 0);
  font-weight: bold;
}


