body {
  font-family: 'Source Code Pro Variable', monospace;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #101113;
}

.prompt {
  font-weight: bold;
}

.prompt {
  color: #0dbf0d;
  font-weight: bold;
}

.end-prompt {
  margin-right: 8px;
}

.ssanjua-prompt {
  color: #007bb9;
  font-weight: bold;
}

form {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(222, 222, 0);
  font-weight: 600;
}

input {
  font-family: 'Source Code Pro Variable', monospace;
  border: none;
  background: none;
  color: #ffffff;
  width: 100%;
  outline: none;
  font-size: 1em;
  caret-color: #0dbf0d;
}

.response {
  margin-left: 1em;
}

.description {
  font-size: 14px;
}

.terminal-title {
  margin: 0;
  font-size: 3em;
  font-family: 'Press Start 2P', system-ui;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  width: 8ch;
  animation: typing 2s steps(30, end), blink-caret .80s;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 8ch;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

.terminal {
  color: #ffffff;
  padding: 2em;
}

label {
  display: inline-flex;
  align-items: center;
}

.signature {
  font-size: 0.8em;
  margin-top: 0;
}

.wrapper {
  margin: 0.5em 0 0.5em 0;
}

.education h3 {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.education p {
  margin-bottom: 1.5em;
  font-size: 0.95em;
  color: rgb(164, 164, 164);
  font-weight: 600;
  margin: 0.2em 0 0.2em 0;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  margin: 0;
  opacity: 0;
  animation: fadeIn 2s forwards 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.projects h3 {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.projects p {
  font-size: 0.95em;
  color: rgb(164, 164, 164);
  font-weight: 600;
  margin: 0.2em 0 0.2em 0;
}

.secret-message {
  font-family: 'Libre Barcode 128', system-ui;
  font-size: 20px;
}

.command {
  color: #e04421;
  font-weight: bold;
}

.help-keys {
  margin: 1em 0 1em 0;
}

.help-keys-main {
  color: rgb(222, 222, 0);
  font-weight: bold;
}

@media (max-width: 768px) {
  .terminal-title {
    font-size: 2.5em;  
  }

  .terminal {
    padding: 1em;
  }
}

@media (max-width: 480px) {
  .terminal-title {
    font-size: 2em; 
  }

  .prompt, .ssanjua-prompt, .end-prompt {
    margin-right: 0; /
  }

}